<div class="row">
  <div class="span9" style="float: left;">
    <div class="well the-fieldset">
      <div id="heading_recent_post">
        <legend class="the-legend"> RECENT POST</legend>
      </div>
      <div class="digg_pagination">
        <%= will_paginate @posts, :container => false %>
        <ol class="posts">

          <% @posts.each do |post| %>
              <li>
                <div class="span2 webo-video-image">
                  <% if post.post_image?  %>
                     <%= image_tag post.post_image_url, :size => '80x80', :class => 'webo-image' %>
                  <% end %>
                  <% if post.video_link? %>
                        <div id="webo-video">Loading the player...</div>
                      <script type="text/javascript">
                          jwplayer("webo-video").setup({

                              file: "<%= post.video_link%>",
                              flashplayer: "../assets/player.swf",
                              height: 150,
                              width: 200

                          });
                      </script>
                  <% end %>
                </div>
                <div class="span2 content">
                  <%= post.description %>
                </div>
                <div class="">

                    <div class="timestamp webo-timstamp-index">Posted <%= time_ago_in_words(post.created_at) %> ago.</div>

                  <%= link_to "Delete", user_post_path(post.user_id,post),:confirm => 'Are you sure you want to delete this post?', :method => :delete, :class => 'webo-delete-link' %>
                  <%=link_to "Show comments", user_post_path(post.user_id, post), :class =>'webo-show-comment-link' %>
                  <div class="auther-post-name-index">Posted By : <%=   get_child_comment_user(post.user_id)%></div>
                </div>
              </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

  <div class="span2" style="float: right;">
    <div class="well the-fieldset sidebar-nav">
      <h4>Post Here...</h4>
      <ul class="nav nav-list">
        <li class="nav-header"></li>
        <li><%= link_to "Create Post", new_user_post_path(params[:user_id])  %></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->

</div>
