<div class="row">
  <div class="span9" style="float: left;">
    <div class="well the-fieldset">
      <div id="heading_recent_post">
        <legend class="the-legend"> RECENT POST </legend>
      </div>
      <div class="pagination">
        <ol class="posts">
          <li>
            <div class="row">
              <div class="span2 webo-video-image">
                <% if @post.post_image?  %>
                    <%= image_tag @post.post_image_url, :size => '80x80', :class => 'webo-image' %>
                <% end %>
                <% if @post.video_link? %>
                     <div id="webo-video">Loading the player...</div>
                     <script type="text/javascript">
                        jwplayer("webo-video").setup({
                            file: "<%= @post.video_link%>",
                            flashplayer: "../assets/player.swf",
                            height: 150,
                            width: 200
                        });
                    </script>
                <% end %>
              </div>
              <div class="span2 content">
                <%= @post.description %>
              </div>
              <div class="">
                 <div class="timestamp webo-timstamp-show">Posted <%= time_ago_in_words(@post.created_at) %> ago.</div>
              </div>
              <%= link_to "Delete", user_post_path(@post.user_id,@post),:confirm => 'Are you sure you want to delete this post?', :method => :delete, :id => 'webo-delete-link-show' %>
              <div class="auther-post-name-show">Posted By : <%=   get_child_comment_user(@post.user_id)%></div>
            </div>
            <div class="row">
              <ol>
                <% @nested_comment_list.each do |parent_child| %>
                    <li class="comment odd alt thread-even depth-1" id="li-comment-<%= parent_child["comment"]["id"]%>">
                      <div id="comment-<%= parent_child["comment"]["id"]%>" class="first-comment">
                        <div class="entry-comment-meta">
                          <div class="comment-author-link">
                            <%= get_child_comment_user(parent_child["comment"]["user_id"]) %>
                          </div><!-- comment-author-link -->
                          <div class="comment-date-link">
                            <%= parent_child["comment"]["created_at"] %>
                          </div><!-- comment-date-link -->
                          <p><%= parent_child["comment"]["comment"] %></p>
                        </div><!-- entry-comment-meta -->

                        <div class="replay-buttton">
                          <a class="comment-reply-link" href="#webo-reply-comment" rel ="<%= parent_child["comment"]["id"]%>">Reply</a>
                        </div><!-- replay-buttton -->
                      </div> <!-- end #comment-ID -->

                      <ol class="children">
                        <% parent_child["child_comments"].each do |child| %>
                            <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="li-comment-<%= child["id"]%>">
                              <div id="comment-<%= child["id"]%>" class="first-comment">
                                <div class="entry-comment-meta">
                                  <div class="comment-author-link">
                                    <%= get_child_comment_user(child["user_id"]) %>
                                  </div><!-- comment-author -->
                                  <div class="comment-date-link">
                                    <%= child["created_at"] %>
                                  </div><!-- comment-date -->
                                  <p><%= child["comment"] %> </p>
                                </div><!-- entry-comment-meta -->
                                <div class="replay-buttton">
                                </div><!-- replay-buttton -->
                              </div> <!-- end #comment-ID -->
                            </li>
                        <% end %>
                      </ol>
                    </li>
                <% end %>
              </ol>
            </div>
            <div class="row">
              <div class="span5 offset1" id="webo-reply-comment">
                <%= form_for [@post, @comment], :url => user_post_comments_path(current_user,@post), :method => :post do |f|%>
                    <%= hidden_field_tag :parent_id, nil %>
                    <p><%= f.text_area :comment, :size => '80x2', :id => 'webo-comment-textarea' %></p>
                    <p><%= f.submit "Post Comment"%></p>
                <% end %>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="span2" style="float: right;">
    <div class="well the-fieldset sidebar-nav">
      <h4>Post Here...</h4>
      <ul class="nav nav-list">
        <li class="nav-header"></li>
        <li><%= link_to "Create Post", new_user_post_path(current_user)  %></li>
        <li><%= link_to "Show all posts", user_posts_path(current_user)  %></li>
        <!--<li><%#= link_to "Link3", "/path3"  %></li>-->
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".comment-reply-link").on("click",function(){
            var id = $(this).attr("rel");
            $("#parent_id").val(id);

        });
    });
</script>